header#main-header {
    width: 100%;
    height: 60px;
    background: #da552f;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.2s;
}

header a:hover {
    color: #cfcfcf;
}
